
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

/* Navbar */

#navbar-container {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  background: #333;
  color: #fff;
  display: flex; 
  justify-content: space-between;
  padding: 0.8rem;
  align-items: center;
}

a {
  text-decoration: none;
  color: #fff;
}

span {
  color: #93cb52;
}

.navbar ul {
  display: flex;
  align-items: center;
  text-align: center;
  list-style: none;
}

.navbar ul li a {
  padding: 1.3rem;
}

.navbar ul li a:hover{
  background: #93cb52;
  border-radius: 10%;
}

/* Header */

#header{
  background: #333 url('../images/showcase.jpg') no-repeat center center/cover;
  color: #fff;
  height: 100vh;
  position: relative;
}

.header-content {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%; 
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;
  position: absolute;
  top: 0px; 
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.head-1 {
  margin-bottom: 3rem;
  line-height: 1.1rem;
  font-size: 4rem;
}

.text-1 {
  font-size: 1.3rem;
  line-height: 1.1rem;
  margin-bottom: 2.5rem;
}

.btn-1 {
  background: #93cb52;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5%;
}

.btn-1:hover {
  background: #76b82b;
}


/* Main */

.section-1 {
  background: rgb(241, 238, 238);
  height: auto; 
}

.section-1-wrapper {
  width: 90%;
  margin: auto;
}


.section-1-header {
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
}

.section-1-content {
  display: flex;
  text-align: center;
  padding-bottom: 3rem;
}

.section-1 .section-1-wrapper i {
  background: #76b82b;
  padding: 1rem;
  border-radius: 50%;
}

.section-1 .section-1-wrapper h3 {
  margin-top: 1rem;
}

.section-1 .section-1-wrapper p {
  padding: 1rem 2rem 3rem 2rem;
}


/* Section-2 */

.section-2 .section-2-content {
  display: flex;
  height: 100%;
  background: #333;
  color: #fff;
}

.section-2-content div {
  flex: 1;
}


.section-2 .section-2-img {
  background: url(https://images.pexels.com/photos/776615/pexels-photo-776615.jpeg?cs=srgb&dl=career-corporate-job-776615.jpg&fm=jpg) no-repeat center center/cover;
}


.section-2-header {
  font-size: 2rem;
}

.section-2 .section-2-content .section-2-info {
  padding: 2rem;
  display: inline-block;
}

.section-2 .section-2-content .section-2-info p {
  padding-top: 1rem;
}

.section-2 .section-2-content .section-2-info h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section-2 .section-2-content .section-2-info ul {
  list-style: none;
}

.section-2 .section-2-content .section-2-info ul li {
  border-bottom: 1px #555 solid;
  padding: 0.5rem 0;
}


/* Section-3 */

.section-3 {
  height: auto;
  background: rgb(241, 238, 238);
}

.section-3-header {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 2rem;
}


.section-3-wrapper {
  width: 90%;
  margin: auto;
}

.section-3-content {
  display: flex;
}


.section-3-content div {
  flex: 1; 
}

.section-3-content div img {
  display: block; 
  width: 60%;
  margin: auto;
  margin-bottom: 3rem;
}


.section-4 .section-4-content {
  display: flex;
}

.section-4 .section-4-content .section-4-contact {
  flex: 1.5;
}
.section-4 .section-4-content .section-4-map {
  flex: 2.5;
}

.section-4 .section-4-contact {
  background: #76b82b;
  color: #fff;
}

.section-4 .section-4-map {
  background: #333 url('../images/stars.jpg') no-repeat center center/cover;
}

.section-4-header {
  padding: 2rem 2rem 1rem 2rem;
}

form {
  padding: 0 3rem 2rem 3rem;
}

.section-4 .section-4-contact h1 {
  padding-bottom: 1rem;
  font-size: 2rem;
}

label {
  display: block;
}

input {
  width: 100%;
  padding: 0.50rem;
  margin: auto;
}

textarea {
  width: 100%;
}

.section-4-btn-1 {
  width: 100%;
  border: none;
  padding: 0.5rem;
  color: #fff;
  background: #333;
  margin: 1rem 0;
  border-radius: 0.4rem;
  cursor: pointer;
}

.section-4-btn-2 {
  width: 100%;
  border: none;
  padding: 0.5rem;
  color: #fff;
  background: #333;
  margin: 0 0 1rem 0;
  border-radius: 0.4rem;
  cursor: pointer;
}

.section-4-btn-1:hover, .section-4-btn-2:hover {
  background: #444;
  font-size: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 3rem;
  background: #333;
  color: #fff;
}








 
