
/* that is a font-family I have copied it from google fonts online to use it here in that css file. */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
  /* overflow-x: hidden; */ /*this will prevent the sticky navbar to work properly*/
}

/* Navbar */

#navbar-container {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  background: #333;
  color: #fff;
  display: flex; /*to display its direct children(h2 and ul) in a row(horizontal). And also the display:flex will apply to the DIRECT children ONLY (h2 and ul but not li because li is not direct child to the navbar container.)*/
  justify-content: space-between;
  /* I add padding here to make and equal padding around for the whole navbar. and it's related to the padding for the links (a). if it's smaller than the padding in the links (a) then the hover value will cover the whole navbar like home, what and etc....*/
  padding: 0.8rem;
  /* to align the logo to the ul list items.*/
  align-items: center;
}

a {
  text-decoration: none;
  color: #fff;
}

span {
  color: #93cb52;
}

.navbar ul {
  /* to display its direct children(li) in a row(horizontal) */
  display: flex;
  /* to align the ul list items vertical to the logo. */
  align-items: center;
  text-align: center;
  list-style: none;
}

.navbar ul li a {
  /* I add padding here to make and equal padding around for the whole (a) links. And this padding is related to the padding on the navbar class. So if this padding bigger than the padding in the navbar container then the hover value will cover the whole nav bar like home, what and ect.... */
  padding: 1.3rem;
  /* margin: 0 0.50rem; */ /*first issue for the right white space*/
}

.navbar ul li a:hover{
  background: #93cb52;
  border-radius: 10%;
}

/* Header */

#header{
  background: #333 url('../images/showcase.jpg') no-repeat center center/cover;
  color: #fff;
  height: 100vh;
  position: relative;
  /* display: none; */
}

.header-content {
  /* we have to type that in order to get the text centered horizontal and vertical then in the last we can change its direction..*/
  display: flex;
  text-align: center;
  justify-content: center;
  height: 100%; /*will display the align-items ONLY if we declare a HEIGHT for the whole container*/
  align-items: center;
  flex-direction: column;
  padding: 0 2rem;
  /* overlay. means to put a color on the background without effecting the layout of the content.*/
  position: absolute;
  /* to start and cover from the top, left and right, down to the bottom */
  top: 0px; /*to cover after the navbar*/
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.head-1 {
  margin-bottom: 3rem;
  line-height: 1.1rem;
  font-size: 4rem;
}

.text-1 {
  font-size: 1.3rem;
  line-height: 1.1rem;
  margin-bottom: 2.5rem;
}

.btn-1 {
  background: #93cb52;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 5%;
}

.btn-1:hover {
  background: #76b82b;
}


/* Main */

.section-1 {
  background: rgb(241, 238, 238);
  height: auto; /*to control the padding bottom at the end of that section*/
  /* display: none; */
}

.section-1-wrapper {
  width: 90%;
  margin: auto;
}


.section-1-header {
  text-align: center;
  padding: 2rem 0;
  font-size: 2rem;
}


.section-1-content {
  display: flex;
  text-align: center;
  /* height: 100%; */
  padding-bottom: 3rem;
}

.section-1 .section-1-wrapper i {
  background: #76b82b;
  padding: 1rem;
  border-radius: 50%;
}

.section-1 .section-1-wrapper h3 {
  margin-top: 1rem;
}

.section-1 .section-1-wrapper p {
  padding: 1rem 2rem 3rem 2rem;
}


/* Section-2 */

.section-2 .section-2-content {
  display: flex;
  height: 100%;
  background: #333;
  color: #fff;
  /* display: none; */
}

/* that is how to split the page equal to different elements in the same line. So here we give the img and the info an equal space in the same line. */
.section-2-content div {
  flex: 1;
}


.section-2 .section-2-img {
  background: url(https://images.pexels.com/photos/776615/pexels-photo-776615.jpeg?cs=srgb&dl=career-corporate-job-776615.jpg&fm=jpg) no-repeat center center/cover;
}


.section-2-header {
  font-size: 2rem;
}

.section-2 .section-2-content .section-2-info {
  padding: 2rem;
  display: inline-block;
  /* line-height: 1rem; */
}

.section-2 .section-2-content .section-2-info p {
  padding-top: 1rem;
}

.section-2 .section-2-content .section-2-info h3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.section-2 .section-2-content .section-2-info ul {
  list-style: none;
}

.section-2 .section-2-content .section-2-info ul li {
  border-bottom: 1px #555 solid;
  padding: 0.5rem 0;
}


/* Section-3 */

.section-3 {
  height: auto;
  background: rgb(241, 238, 238);
  /* display: none; */
}

.section-3-header {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 2rem;
}


.section-3-wrapper {
  width: 90%;
  margin: auto;
}

.section-3-content {
  display: flex;
  /* text-align: center;
  padding-bottom: 3rem; */
}


.section-3-content div {
  flex: 1; /*to give the children an equal size*/
}

.section-3-content div img {
  display: block; /*to accept the margin:auto to center it*/
  width: 60%;
  margin: auto;
  margin-bottom: 3rem;
}


/* Section-4 */
/* .section-4 {
  height: 400px;
} */

.section-4 .section-4-content {
  display: flex;
}

/* here to split the space between the contact and map in equal space */
/* .section-4 .section-4-content div{
  flex: 1;
} */
/* OR */
.section-4 .section-4-content .section-4-contact {
  flex: 1.5;
}
.section-4 .section-4-content .section-4-map {
  flex: 2.5;
}



.section-4 .section-4-contact {
  background: #76b82b;
  color: #fff;
}

.section-4 .section-4-map {
  background: #333 url('../images/stars.jpg') no-repeat center center/cover;
}

.section-4-header {
  padding: 2rem 2rem 1rem 2rem;
}

form {
  padding: 0 3rem 2rem 3rem;
}

.section-4 .section-4-contact h1 {
  padding-bottom: 1rem;
  font-size: 2rem;
}

label {
  display: block;
}

input {
  width: 100%;
  padding: 0.50rem;
  margin: auto;
}

textarea {
  width: 100%;
}

/* the button here is inline-block by default */
.section-4-btn-1 {
  width: 100%;
  border: none;
  padding: 0.5rem;
  color: #fff;
  background: #333;
  margin: 1rem 0;
  border-radius: 0.4rem;
  cursor: pointer;
}

/* the button(reset) throught input here is inline-block by default */
.section-4-btn-2 {
  width: 100%;
  border: none;
  padding: 0.5rem;
  color: #fff;
  background: #333;
  margin: 0 0 1rem 0;
  border-radius: 0.4rem;
  cursor: pointer;
}

.section-4-btn-1:hover, .section-4-btn-2:hover {
  background: #444;
  font-size: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 3rem;
  background: #333;
  color: #fff;
}








 
